input {
	file {
		path => "/tmp/log.csv"
		start_position => "beginning"
		sincedb_path => "/dev/null"
	}
}

filter {
	csv {
		separator => ","
		columns => [id,publish,receive,connections]
	}
	mutate {convert => ["connections", "integer"]}
}

output {
	elasticsearch {
		hosts => "localhost"
		index => "connections"
		document_type => "sse_connection"
	}
	stdout {}
} 